s<div id="slideshow" style="border-bottom: 10px solid #2E3437;">
	<%= image_tag "photo_1.jpg", height: "600px", style:"opacity: 1;", :class => "active" %>
	<%= image_tag "photo_2.jpg", height: "600px", style:"opacity: 1;", :class => "" %>
</div>

<div id="welcome" class="content-panel">
    <p class="display"><span style="color: #b49400">MANGUEZAL</span> / A Community of Startups / Recife/PE - BRAZIL</p>
	
	<p class="welcome">
		We are a community of startups to support collaborative practices and learning of technology, design and entrepreneurship across startup ecosystem in Recife.
	</p>
    
    <p class="welcome">
    	Our main goals are: to promote high level discussions, events and a learning-by-doing educational programming to serve the needs of high-potential entrepreneurs and advance the startup ecosystem in Recife. To give visibility to our early-stage startups presenting them to angel investors and VC funds and also to estimulate exchange between Recife startups and others startups around the world.
    </p>
</div>

<div id="bed-breakfast" class="content-panel">
	<h1>PROUDLY MADE IN RECIFE</h1>

	<p class="welcome">
		Recife has been historically a crib for very good programmers, designers, artists and entrepreneurs. For the past 20 years, we've been sending lots of engineers to companies like IBM and Microsoft and more recently to Google and Facebook. Despite of all this famous, we still have not made our chapter in internet history. We've lost good internet phases and simply watched companies like those above to be born and grow. Recife definitely needs to make more internet. Excitingly, Recife is now finally making some. Not only there are a lot of new entrepreneurs coming with different background education other than technology, but also the new tech guys are much more prepared and entrepreneurship is very often their first choice.
	</p>

	<p class="welcome">
		If you have a Startup and your product or service is <a href="javascript:">MOSTLY CODED IN RECIFE</a>, please fill out <a href="http://manguezal.wufoo.com/forms/manguezal/" target="_blank">this form</a> and let’s proudly show ourselves off for people everywhere to know what internet is made in Recife. Recife startups and their entrepreneurs need to be known.
	</p>
</div>

<div id="gallery">
	<h1>Startups Already In</h1>
	
 	<div class="item">
		<a href="http://eventick.com.br/" target="_blank">
			<%= image_tag "eventick.png", alt: "Eventick"%>
		</a>
 	</div>
	<div class="item">
		<a href="http://sequaz.com/" target="_blank">
			<%= image_tag "sequaz.png", alt: "Sequaz"%>
		</a>
	</div>
	<div class="item">
		<a href="http://conecta.la/" target="_blank">
			<%= image_tag "conecta.png", alt: "Conecta"%>
		</a>
	</div>
	<div class="item">
		<a href="http://youjudge.la/" target="_blank">
			<%= image_tag "youjudge.png", alt: "Youjudge"%>
		</a>
	</div>
	<div class="item">
		<a href="http://www.surfguru.com.br/" target="_blank">
			<%= image_tag "eventick.png", alt: "Eventick"%>
		</a>
	</div>
	<div class="item">
		<a href="http://www.opara.agr.br/" target="_blank">
			<%= image_tag "opara.png", alt: "Opara"%>
		</a>
	</div>
 	<div class="item">
		<a href="http://www.bidcorp.com.br/" target="_blank">
			<%= image_tag "bidcorp.png", alt: "Bidcorp"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.mobiclub.com.br/" target="_blank">
			<%= image_tag "mobiclub.png", alt: "Mobiclub"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.myskills.com.br/" target="_blank">
			<%= image_tag "myskills.png", alt: "Myskills"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.pycursos.com/" target="_blank">
			<%= image_tag "pycursos.png", alt: "Pycursos"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.inlocomedia.com/" target="_blank">
			<%= image_tag "in_loco_media.png", alt: "In Loco Media"%>
		<img src="manguez_files/in_loco_media.png"></a>
 	</div>
 	<div class="item">
		<a href="http://guava.com.br/" target="_blank">
			<%= image_tag "guava.png", alt: "Guava"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.icaregames.com.br/" target="_blank">
			<%= image_tag "icaregames.png", alt: "Icare Games"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.estuarioti.com.br/" target="_blank">
			<%= image_tag "estuario.png", alt: "Estuario T I"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.idealizza.com.br/" target="_blank">
			<%= image_tag "idealizza.png", alt: "Idealizza"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.beagletech.com.br/" target="_blank">
			<%= image_tag "beagletech.png", alt: "Beagle Tech"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.say2me.com.br/" target="_blank">
			<%= image_tag "say2me.png", alt: "Say 2 Me", width: "310"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.mobipass.com.br/" target="_blank">
			<%= image_tag "mobipass.png", alt: "Mobipass"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.robolivre.org/" target="_blank">
			<%= image_tag "robolivre.png", alt: "Robolivre"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://prodeaf.net/" target="_blank">
			<%= image_tag "prodeaf.png", alt: "Prodeaf"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.coeus.com.br/" target="_blank">
			<%= image_tag "coeus.png", alt: "Coeus"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.30ide.as/" target="_blank">
			<%= image_tag "30ideas.png", alt: "30 Ideas"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.vinta.com.br" target="_blank">
			<%= image_tag "vintasoftware.png", alt: "Vinta Software"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.labcodes.com.br" target="_blank">
			<%= image_tag "labcodes.png", alt: "LabCodes"%>
		</a>
 	</div>
 	<div class="item">
		<a href="http://www.mobdoctor.me" target="_blank">
			<%= image_tag "mobdoctor.png", alt: "MobDoctor"%>
		</a>
 	</div>
	<div class="item">
		<a href="http://colab.re" target="_blank">
			<%= image_tag "colab.png", alt: "Colab"%>
		</a>
	</div>
	<div class="item">
		<a href="http://vamoz.com.br" target="_blank">
			<%= image_tag "vamoz.png", alt: "Vamoz - Sua agenda completa"%>
		</a>
	</div>
	<div class="item">
		<a href="http://www.minutofeedback.com.br" target="_blank">
			<%= image_tag "minuto_feedback.png", alt: "Minuto Feedback"%>
		</a>
	</div>
	<div class="item">
		<a href="http://www.siro.net.br" target="_blank" title="SIRO - Motor de Reservas + Channel Manager">
			<%= image_tag "siro.png", alt: "SIRO"%>
		</a>
	</div>
	<div class="item">
		<a href="http://avisa.la/" target="_blank" title="Avisa.lá - Seu site caiu? Seja o primeiro a saber!">
			<%= image_tag "avisala.png", alt: "Avisa.lá - Seu site caiu? Seja o primeiro a saber!"%>
		</a>
	</div>
	<div class="item">
		<a href="http://eventplatz.com" target="_blank">
			<%= image_tag "eventplatz.png", alt: "EventPlatz - Busca e oferta de espaços para todo tipo de evento."%>
		</a>
	</div>
</div>


<div id="gallery" class="groupsgallery">
	<h1>FOSS Groups</h1>

	<div class="item">
		<a href="http://pycon.pug.pe/" target="_blank">
			<%= image_tag "pugpe.png", alt: "Pug PE", :class => "pug"%>
		</a>
	</div>
    <div class="item">
		<a href="http://frevoonrails.com.br" target="_blank">
			<%= image_tag "frevo-on-rails-manguezal.png", alt: "Frevo on Rails"%>
		</a>
	</div>
<!--     <div class="item">
		<a href="http://recife.startupweekend.org/" target="_blank">
			<%= image_tag "swrecife.png", alt: "Startup Weekend Recife"%>
		</a>
	</div> -->
</div>

<div class="content-panel">
	<p class="welcome">MANGUEZAL is a open community, if you want to join just send us a pull request at our github repository: <a href="https://github.com/manguezal/manguezal.github.com" target="_blank">https://github.com/manguezal/manguezal.github.com</a>.</p>
</div>

<div id="information">
	<h2 style="text-align: center; border-top: 1px solid #d1d7cb; border-bottom: 1px solid #d1d7cb; background: #B49400;">Premiere Sponsor</h2>

    <p style="text-align: center; padding: 25px 0 25px 0; margin: 0;">
    	<a href="http://icb.la/" target="_blank">
    		<%= image_tag "sponsor-icb.png", alt: "ICB.la"%>
    	</a>
    </p>

	<h2 style="text-align: center; border-bottom: 1px solid #d1d7cb;">Partner</h2>
		
		<p style="text-align: center; padding: 25px 0 25px 0; margin: 0 0 25px 0;">
			<a href="http://www.sendgrid.com/" target="_blank">
			    <%= image_tag "partner-sendgrid.png", alt: "Sendgrid"%>
			</a>
		</p>
</div>